PORT=3001
HOST=0.0.0.0
EXP_DAYS=30
CORS_ORIGIN='http://localhost:3000'

# gRPC service URLs (defaults point to localhost for local dev)
AUTH_SERVICE_URL=localhost:50002
USER_SERVICE_URL=localhost:50051
TOKEN_SERVICE_URL=localhost:50004