REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""

# RSA private key in PEM format (for signing JWTs)
JWT_PRIVATE_KEY="123"

# RSA public key in PEM format (for verifying JWTs)
JWT_PUBLIC_KEY="123"

JWT_ISSUER="token-service"

GRPC_PORT=50004
