REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_ISSUER=token-service

GRPC_PORT=50004
GRPC_HOST=0.0.0.0

AUTH_SERVICE_URL=localhost:50002
USER_SERVICE_URL=localhost:50051
TOKEN_SERVICE_URL=localhost:50004
MEDIA_SERVICE_URL=localhost:50006
