POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
# POSTGRES_HOST=postgres
# REDIS_PASSWORD=''
# JWT_PRIVATE_KEY=
# JWT_PUBLIC_KEY=
CORS_ORIGIN='http://localhost:3000'
PASSWORD_PEPPER='a3f8c1e2b7d4!@#$%^&*()_+-=[]|;':,./<>?~`9xKp2mWq43fA'

NPM_PUBLISH_TOKEN=
DOCKER_HUB_PUBLISH_TOKEN=
