# Postgres
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# auth-service
PASSWORD_PEPPER="a3f8c1e2b7d4!@#$%^&*()_+-=[]|;':,./<>?~`9xKp2mWq43fA"
EXP_DAYS=30
TOKEN_SERVICE_URL=localhost:50004

# user-service
RESET_INTERVAL_MINUTES=10

# token-service
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=''
JWT_ISSUER=token-service
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# api-gateway
PORT=3001
HOST=0.0.0.0
CORS_ORIGIN='http://localhost:3000'
AUTH_SERVICE_URL=localhost:50002
USER_SERVICE_URL=localhost:50051

# gRPC
GRPC_HOST=0.0.0.0
GRPC_PORT=50051

# publish
NPM_PUBLISH_TOKEN=
DOCKER_HUB_PUBLISH_TOKEN=
