# Postgres
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# token-service
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=''
JWT_ISSUER=token-service
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# api-gateway
EXP_DAYS=30
CORS_ORIGIN='http://localhost:3000'

# publish
NPM_PUBLISH_TOKEN=
DOCKER_HUB_PUBLISH_TOKEN=
NGROK_AUTH_TOKEN=
NGROK_DOMAIN=
