DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auth"
GRPC_PORT=50002
GRPC_HOST=0.0.0.0
EXP_DAYS=30
TOKEN_SERVICE_URL=localhost:50004

AUTH_SERVICE_URL=localhost:50002
USER_SERVICE_URL=localhost:50051
MEDIA_SERVICE_URL=localhost:50006
