DATABASE_URL="postgresql://postgres:postgres@localhost:5432/user"
GRPC_PORT=50051
GRPC_HOST=0.0.0.0
RESET_INTERVAL_MINUTES=10

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""

AUTH_SERVICE_URL=localhost:50002
USER_SERVICE_URL=localhost:50051
TOKEN_SERVICE_URL=localhost:50004
MEDIA_SERVICE_URL=localhost:50006
